# This is a basic workflow to help you get started with Actions

name: n2d.io site

# Controls when the action will run.
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout repo"
        uses: actions/checkout@master
      - name: "Build n2d.io site"
        uses: shalzz/zola-deploy-action@master
        env:
          BUILD_DIR: .
          BUILD_ONLY: true
      - name: "List n2d.io build dir contents"
        run: ls -la ./public
      - name: Store build artifacts
        uses: actions/upload-artifact@v2
        with:
          name: n2d-build
          path: public/
  publish:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download a single artifact
        uses: actions/download-artifact@v2
        with:
          name: n2d-build
      - uses: up9cloud/action-rsync@master
        name: "rsync to n2d-static-01"
        env:
          HOST: n2d.io
          KEY: ${{secrets.N2D_DEPLOY_SSH_KEY}}
          TARGET: /var/www/n2d.io/
